ion-card {
    display: flex;
    flex-direction: row;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.options {
    display: flex;
    justify-content: center;
    width: 100%;
}

.options>ion-button {
    width: 40%;
}