
/* FONT IMPORT */
@font-face {   
    font-family: 'Questrial'; 
    src: url('../assets/font/Questrial-Regular.ttf');
}

@font-face {   
    font-family: 'Original Surfer'; 
    src: url('../assets/font/OriginalSurfer-Regular.ttf');
}

