<ion-header  class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end" >
    <ion-icon name="bookmark-outline" id="marker" size="large" style="display: block;" (click)="marker()"></ion-icon>
    <ion-icon name="bookmark" size="large" id="markerselected"(click)="marker()" style="display: none;"></ion-icon>
    <ion-icon name="menu-outline" size="large" (click)="openMenu()"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-content id="content">
    <div id="viewer">
    </div>
    <div style="width:100%;position: absolute; bottom: 0;display: flex;justify-content: space-between; height: 100%;">
        <ion-button style="width: 50%; height: 100%; opacity: 0;" fill ="clear"color="dark"  (click)="previous()"><</ion-button>
        <ion-button outline fill ="clear" color="dark"  (click)="next()" style="float: right; width: 50%;   height: 100%;opacity: 0;">></ion-button>
    </div>  
      <ion-menu class = 'menu' side="start" id="menu" menuId="menu" content-id="main">
        <ion-header>
          <ion-toolbar translucent >
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list style="margin-top: 50px;" class = 'menu'>
            <ion-item (click)="openExpandable('t')">
              <ion-label>Color de la página </ion-label><ion-icon id="pageArrowDown" name="caret-down-circle-outline"></ion-icon><ion-icon id="pageArrowUp" name="caret-up-circle-outline" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item id="themeExpandable" style="display: none;">
              <div >
                <div style="display: flex;flex-direction: row;">
                  <div class="circle tdefault"  (click)="estilos('theme',' ')"></div>
                  <div class="circle tdark" (click)="estilos('theme','dark')"></div>
                  <div class="circle tobooks" (click)="estilos('theme','obooks')"></div>
                  <div class="circle tpink" (click)="estilos('theme','pink')"></div>
                  <div class="circle tobooksDark" (click)="estilos('theme','obooksDark')"></div>
                </div>
              </div>
            </ion-item>
            <ion-item (click)="openExpandable('s')">
              <ion-label>Tamaño Letra</ion-label> <ion-icon id="sizeArrowDown" name="caret-down-circle-outline"></ion-icon><ion-icon id="sizeArrowUp" name="caret-up-circle-outline" style="display: none;"></ion-icon>
              </ion-item>
              <ion-item id="sizeExpandable" style="display: none;">
                <div >
                  <div style="display: flex;flex-direction: row;">
                    <div class="circle" (click)="estilos('fontSize','10px')" style="padding-top: 8px;"> 
                      XS
                    </div>
                    <div class="circle" (click)="estilos('fontSize','15px')" style="padding-top: 8px;">
                      S
                    </div>
                    <div class="circle" (click)="estilos('fontSize','25px')" style="padding-top: 8px;">
                      M
                    </div>
                    <div class="circle" (click)="estilos('fontSize','40px')" style="padding-top: 8px;">
                      L
                    </div>
                    <div class="circle" (click)="estilos('fontSize','50px')" style="padding-top: 8px;">
                      XL
                    </div>
                  </div>
                </div>
              </ion-item>
            <ion-item (click)="openExpandable('st')">
              <ion-label>Estilo Letra</ion-label> <ion-icon id="styleArrowDown" name="caret-down-circle-outline"></ion-icon><ion-icon id="styleArrowUp" name="caret-up-circle-outline" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item id="styleExpandable" style="display: none;">
              <div >
              <div style="display: flex;flex-direction: row;">
                <div class="circle" (click)="estilos('fontStyle','Cinzel, serif')" style="font-family: Cinzel,serif; padding-top: 7px;">
                  Aa
                </div>
                <div class="circle" (click)="estilos('fontStyle','Lemonada, cursive')" style="font-family: 'Lemonada, cursive'; padding-top: 2px;">
                  Aa
                </div>
                <div class="circle" (click)="estilos('fontStyle','Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif')" style="padding-top: 8px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                  Aa
                </div>
                <div class="circle" (click)="estilos('fontStyle','Georgia, Times New Roman, Times, serif')" style="padding-top: 8px; font-family: Georgia, 'Times New Roman', Times, serif;">
                  Aa
                </div>
                <div class="circle" (click)="estilos('fontStyle','Verdana, Geneva, Tahoma, sans-serif')" style="padding-top: 8px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                  Aa
                </div>
              </div>
              </div>
            </ion-item>
            <ion-item (click)="openExpandable('ls')">
              <ion-label>Espacio entre lineas</ion-label><ion-icon id="linespArrowDown" name="caret-down-circle-outline"></ion-icon><ion-icon id="linespArrowUp" name="caret-up-circle-outline" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item id="linespExpandable" style="display: none;">
              <div >
              <div style="display: flex;flex-direction: row;">
                <div class="circle" style="padding-top: 8px;" (click)="estilos('lineSpacing','1')">
                  <img style="width: 20px;" src="assets/icons/line-spacing.svg">
                </div>
                <div class="circle" style="padding-top: 8px;" (click)="estilos('lineSpacing','1.5')">
                  <img style="width: 20px;" src="assets/icons/line-spacing-medium.svg">
                </div>
                <div class="circle" style="padding-top: 8px;" (click)="estilos('lineSpacing','3')">
                  <img style="width: 20px;" src="assets/icons/line-spacing-big.svg">
                </div>
              </div>
              </div>
            </ion-item>
            <ion-item (click)="openExpandable('c')">
              <ion-label>Capitulos</ion-label><ion-icon id="chapterArrowDown" name="caret-down-circle-outline"></ion-icon><ion-icon id="chapterArrowUp" name="caret-up-circle-outline" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item id="chapterExpandable" style="display: none;">
              <div >
                <ion-list *ngFor="let c of capitulos" (click)="selectChapter(c)">  
                  <p>{{c.label}}</p>
                </ion-list>
              </div>
            </ion-item>
            <ion-item (click)="openExpandable('m')">
              <ion-label>Tus marcadores</ion-label><ion-icon id="markerArrowDown" name="caret-down-circle-outline"></ion-icon><ion-icon id="markerArrowUp" name="caret-up-circle-outline" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item id="markerExpandable" style="display: none;">
              <div >
                <ion-list *ngFor="let m of marcadoreslibro" (click)="goMarker(m.page)">  
                  <p>{{m.page}}</p>
                </ion-list>
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
  </ion-content>